@import "tailwindcss";
@theme {
    --color-primary: #dde6ef;
    --color-primary-bg: #c6ced5;
    --color-primary-var1: #cfd9e2;
    --color-tertiary-var1: #f5d8cc;
    --color-tertiary-var2: #e3c7bc;
    --color-main: #471f0e;
    --font-primary-text: "Montserrat", sans-serif;
}
